<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>BCG WordCloud</title>
<style>
* {
	margin:0;
	padding:0;
	border:0;
}
#wrapper {
	border: 1px solid #000;
	width: 1324px;
	margin: auto;
}
#header {
	border-bottom: 1px solid #000;
	padding: 10px;
	background-color: #eee;
}
#menu {
	width: 280px;
	float: left;
	padding: 10px;
	border-right: 1px solid #000;
}
#content {
	margin-left: 300px;
	height: 576px;
	border-left: 1px solid #000;
	padding: 10px;
	line-height: 2em;
}
.clearer {
	clear: both;
}
</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>BCG WordCloud</h1>
	</div>
	<div id="main">
		<div id="menu">
			<h2>Menu</h2>
			<p>This column is fixed.</p>
			<p>This column is fixed.</p>
			<p>This column is fixed.</p>
			<p>This column is fixed.</p>
			<p>This column is fixed.</p>
		</div>
		<div id="content">
			<h2>Content</h2>
			<p>This column is fixed.</p>
		</div>
		<div class="clearer"></div>
	</div>
</div>
</body>
</html>